{#
Template to process the about to expire mail that recurring payments module will send.
Available variables:
      - 'order_items': an array with the expiring items in order.
      - 'user': the customer object.
      - 'order_entity': the order entity object.
      - 'remaining days': the remaining days to expire, signed.
      - 'renew_url': the url to renew the purchase.
#}
{{ 'Hello @user'|t({ '@user': user.label }) }},
<br/>
{{ 'These items in order #@number have expired:'|t({'@number': order_entity.getOrderNumber }) }}
<br/>
{{ order_items|length }}
{% for order_item in order_items %}
- <span>#{{ order_item.id }} - {{ order_item.label }}</span>
{% endfor %}

